@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --headerOpacity: 1;
    --headerScale: 1;
}

@mixin coverer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

html, body {
    height: 100vh;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-size: cover;
}

/* VIDEO */
#video-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    &, video {
        @include coverer;
    }
      video {
        background: black;
        object-fit: cover;
    }
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}


/* ARROWS */
.arrow {   
    display: block;
    position: absolute;
    top: 85%;
    left: 48.4%;
    width: 50px;
    height: 50px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 2px solid #ff68ff;
    border-bottom: 2px solid #ff68ff;
    margin: 0 0 3px 4px;
}

.arw-one, .arw-two, .arw-three {
    -webkit-animation: arw-scroll 1s infinite;
    -moz-animation: arw-scroll 1s infinite;
    animation: arw-scroll 1s infinite;
  
}

.arw-one {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    animation-delay: alternate;
}

.arw-two {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    animation-delay: .2s;
    animation-direction: alternate;
    margin-top: -20px;
}

.arw-three {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;
    animation-delay: .3s;
    animation-direction: alternate;
    margin-top: -40px;
}

@-webkit-keyframes arw-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes arw-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes arw-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes arw-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}


/* GAME CONTENT */
main {
    background: #370e45;
    color: #ff68ff;
    height: 100vh;
    position: relative;
    padding: 1rem;
    margin-top: 100vh;
    &::before {
      content: "";
      @include coverer;
      top: -100vh;
    }
}

main h1 {
    font-family: 'Press Start 2P', cursive;
    font-weight: 100;
    font-size: 67px;
    text-align: center;
    margin-top: 85px;
}

main p {
    font-family: 'Press Start 2P', cursive;
    font-weight: 100;
    font-size: 18px;
    text-align: center;
    margin-top: 95px;
}

.games {
    height: 60vh;
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 45px
}

.rps, .etch {
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.games img {
    height: 60vh;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.games img:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

a {
    text-decoration: none;
    color: #1096dc;
}


/* FOOTER */
.footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    width: 100vw;
    height: 75px;
    background-color: #1c1c31;
    color: #ff68ff;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    -webkit-box-shadow: 0px -1px 3px #ff68ff;
    -moz-box-shadow: 0px -1px 3px #ff68ff;
    box-shadow: 0px -1px 3px #ff68ff;
}