@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* NAV BAR */
.navbar {
    font-family: 'Abel', sans-serif;
    background-color: #370e45;
    width: 100vw;
    height: 105px;
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 0 8px 6px -6px #ff68ff;
    -moz-box-shadow: 0 8px 6px -6px #ff68ff;
    box-shadow: 0 8px 6px -6px #ff68ff;
}

.logo img {
    height: 100px;
    width: auto;
    margin-left: 25px;
}

nav a {
    text-decoration: none;
    color: #1096dc;
}

nav {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 17px;
    margin-right: 25px;
    margin-top: 43px;
}

nav a:hover {
    color: #ff68ff;
}

nav a.active {
    color: #ff68ff;
}

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1c1c31;
    color: #1096dc;
}


/* HERO TXT STYLE */
body h1 {
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: -2px;
    font-family: 'Love Ya Like A Sister', cursive;
}

/* BOARD + BUTTONS */
.main {
    display: flex;
    flex-direction: row;
    font-family: 'Love Ya Like A Sister', cursive;
}

.size {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50;
    margin-left: -200px;
}

.size button {
    font-size: 20px;
    width: 90px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 4px;
}

.size h4 {
    font-size: 20px;
}

.board {
    background-color: #fff;
    display: block;
    margin-left: 60px;
    width: 500px;
    height: 500px;
    display: grid;
    box-shadow: 0 0 10px 3px #ff68ff;
}

.bottom button {
    font-size: 20px;
    width: 90px;
    height: auto;
    margin-top: 8px;
    margin-bottom: 30px;
    font-family: 'Love Ya Like A Sister', cursive;
    padding: 4px;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    margin-top: 20px;
}

button {
    box-shadow: 0 0 4px 2px #ff68ff;
}


/* FOOTER */
.footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100vw;
    height: 75px;
    background-color: #370e45;
    color: #1096dc;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    -webkit-box-shadow: 0px -1px 3px #ff68ff;
    -moz-box-shadow: 0px -1px 3px #ff68ff;
    box-shadow: 0px -1px 3px #ff68ff;
}